{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

{% include "menu.html" with index=True %}

{% load cache %}
{% cache 500 indexcache %}

    {% for post in page %}

        {% include 'includes/post_content.html' with post=post show_add_comments=True %}

    {% endfor %}

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endcache %}

{% endblock %}